
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../img/icon.png">
		<title>Accueil</title>

		<!-- Bootstrap core CSS -->
		<link href="../common/libs/bootstrap-3.0.3-dist/dist/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for data tables -->
		<link rel="stylesheet" type="text/css" href="css/datatables.min.css">

		<!-- Custom styles for the entire website -->
		<link rel="stylesheet" href="css/main.css">

		<!-- Custom script for this page only -->
		<script type="text/javascript" src="js/datatables.min.js"></script>
		<script type="text/javascript" src="js/myfile.js"></script>

		<!-- Custom script for cropper only -->
		<link href="../common/libs/cropper/src/css/cropper.css" rel="stylesheet">
		<script type="text/javascript" src="../common/libs/cropper/src/css/cropper.js"></script>

	</head>