      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="container">
        <div class="col-md-6">
           <h1>Bienvenue sur Likr!</h1>
           <p>Connect more Like more</p>
           <img alt="brand" src="../img/pouce.png"> <h4>Pas encore de compte? Inscrivez vous c'est 100% gratuit</h4>
        </div>
        <div class="col-md-6">
         <form method="POST" action="">
            <table>
               <tr>
                  <td align="right">
                     <label for="Nom">Nom: &nbsp</label>
                  </td>
                  <td>
                     <input class="form-control" type="text" placeholder="Nom" id="Nom" name="Nom" value="<?php if(isset($Nom)) { echo $Nom; } ?>" />
                  </td>
               </tr>
               <tr>
                  <td align="right">
                     <label for="Prenom">Prénom: &nbsp</label>
                  </td>
                  <td>
                     <input class="form-control" type="text" placeholder="Prénom" id="Prenom" name="Prenom" value="<?php if(isset($Prenom)) { echo $Prenom; } ?>" />
                  </td>
               </tr>
               <tr>
                  <td align="right">
                     <label for="Email">Email: &nbsp</label>
                  </td>
                  <td>
                     <input class="form-control" type="email" placeholder="Email" id="Email" name="Email" value="<?php if(isset($Email)) { echo $Email; } ?>" />
                  </td>
               </tr>
               <tr>
                  <td align="right">
                     <label for="MDP">Mot de passe: &nbsp</label>
                  </td>
                  <td>
                     <input class="form-control" type="password" placeholder="*******" id="MDP" name="MDP" />
                  </td>
               </tr>
               <tr>
                  <td align="right">
                     <label for="mdp2">Date de naissance: &nbsp</label>
                  </td>
                  <td>
                     <input class="form-control" type="date" placeholder="YYYY-MM-DD" id="DateNaissance" name="DateNaissance" />
                  </td>
               </tr>
               <tr>
                  <td align="right">
                     <label for="Sexe">Sexe: &nbsp</label>
                  </td>
                  <td>
                     <div class="radio">
                       <label><input type="radio" name="Sexe" value="Homme" checked>Homme</label>
                     </div>
                     <div class="radio">
                       <label><input type="radio" name="Sexe" value="Femme">Femme</label>
                     </div>
                  </td>
             </tr>
             <tr>
               <td></td>
               <td align="center">
                  <br />
                  <input class="form-control" type="submit" name="forminscription" value="Valider"/>
               </td>
            </tr>
         </table>
      </form>
      </div>

      				<!--	<div class="form-group">
      						<label for="inputNom" class="col-sm-2 control-label">Nom</label>
      						
      							<input type="text" class="form-control" id="inputNom" placeholder="Admin" name="Nom">
      						
      					</div>
      					<div class="form-group">
      						<label for="inputPrenom" class="col-sm-2 control-label">Prénom</label>
      						
      							<input type="text" placeholder="Admin" class="form-control">
      						
      					</div>
      				
      				</br>

      				
      					<div class="form-group">
      						<label for="inputMail" class="col-sm-1 control-label">E-mail</label>
      						<div class="col-sm-5">
      							<input type="inputMail" placeholder="Admin@edu.ece.fr" class="form-control">
      						</div>
      					</div>
      				</br>
      					<div class="form-group">
      						<label for="inputPassword" class="col-sm-1 control-label">Mot de passe</label>
      						<div class="col-sm-5">
      							<input type="password" placeholder="******" class="form-control">
      						</div>
      					</div>
      				</br>
      					<div class="form-group">
      						<label for="inputPassword" class="col-sm-1 control-label">Date de naissance</label>
      						<div class="col-sm-3">
      							<input type="date" class="form-control">
      						</div>
      					</div>
      					<div class="form-group">
      						<div class="col-sm-offset-1 col-sm-5">
      							<input type="radio" name="sex" value="H" checked> Homme <input type="radio" name="sex" value="F"> Femme
      						</div>
      					</div>
      					<div class="form-group">
      						<div class="col-sm-offset-2 col-sm-10">
      							<button type="submit" class="btn btn-success" name="n">Valider</button>
      						</div>
      					</div>
      				
      			</form>

      			</div>-->