
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<a class="navbar-brand" href="index.php">
						<div id="logo">
							<img src="../img/icon.png" />&nbsp Likr
						</div>
					</a>
				</div>
				<div class="navbar-collapse collapse">

					<form class="navbar-form navbar-right" method="POST" action="">
						<div class="form-group">
						  <input name="Email" type="text" placeholder="Email" class="form-control">
						</div>
						<div class="form-group">
						  <input name="MDP" type="password" placeholder="Mot de passe" class="form-control">
						</div>
						<input class="btn btn-success" type="submit" name="formconnexion" role="button" value="Envoyer">
					</form>

				</div><!--/.navbar-collapse -->
			</div>
		</div>
