
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="index.php">
                        <div id="logo">
                            <img src="../img/icon.png" />&nbsp Likr
                        </div>
                    </a>
                </div>
                <div class="navbar-collapse collapse">

                    <form class="navbar-form navbar-left">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Trouver des amis...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </form>

                    <form class="navbar-form navbar-right" role="form">
                        <a href="mur.php" class="btn btn-success">Accueil</a>
                        <a href="profil.php" class="btn btn-success">Mon Profil</a>
                        <a href="amis.php"><img src="../img/friend/1.png"></a>
                        <a href="gallerie.php"><img src="../img/photo/3.png"></a>
                        <a href="chronologie.php"><img src="../img/chrono/4.png"></a>
                        <a href="deconnexion.php" class="btn btn-xs btn-danger">Déconnexion</a>
                    </form>
                </div><!--/.navbar-collapse -->
            </div>
        </div>