* {
	font-family: Arial;
}

body {
	background: #fff;
}

table {
	text-align: center;
}

.profile {
	max-height: 350px;
	/*min-width: 200px;*/
}

th {
	font-size: 14pt;
}

.table > tbody > tr > td {
	font-size: 12pt;
	vertical-align: middle;
}

.navbar {
	background: #88ff88;
}

ul > li {
	font-size: 14pt;/*
	background-color: #ddffdd;*/
	background-color: gray;
}


#logo > img {
	margin: -7px;
	width: 32px;
}

.jumbotron {
	background-color: #fff;
	padding-top: 80px;
	padding-bottom: 20px;
	margin: 0px;
}

.tab-content {
	background-color: #fff;
	/*padding: 25px;*/
	padding-top: 0px;
}

form img {
	width: 30px;
}

#tropHaut {
	padding-top: 80px;
}

a:link {
    text-decoration: none;
	color: white;
}

a:visited {
    text-decoration: none;
	color: white;
}

a:hover {
    text-decoration: none;
	color: white;
}

a:active {
    text-decoration: none;
	color: white;
}

a {
	color: white;
}

.well > a > button, .well >img {
	width: 100%;
}

.well > h2 {
	margin-top: 0;
}

#modif {
	width: 100%;
}

#modif > img {
	width: 20px;
}

td > a > img {
	width: 30px;
}

.outfit {
	overflow: hidden;/*
	border: 3px solid orange;*/
}

.outfit > h3 img {
	width: 30px;
}

.outfit > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.outfit > ul > li {
	list-style-type: none;
	margin: 1%;
	padding: 0;
	float: left;
	position: relative;
	border-radius: 4px;
	border: 4px solid black;
}

.outfit > ul > li img {

}

.outfit > ul > li p {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	color: white;
	background-color: rgba(0, 0, 0, 0.70);
	text-align: center;
	margin: 0;
}

.scaledImageContainer {
    position: relative;
    overflow: hidden;
    width: 118px;
	height: 118px;
}

.scaledImageContainer img {
    height: 100%;
    position: relative;
}

.outfit > ul > li.active-album {
	border: 4px solid blue;
}

#photo-div > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#photo-div > h3 > img {
	width: 30px;
}

#photo-div > ul .scaledImageContainer {
	float: left;
	margin: 3px;
}

.navbar-fixed-top {
	border: 0px;
}

a.black {
	color: blue;
}

.profile-pic {
	height: 30px;
}

#float1 .well {
	margin: 0;
}

#float2 .well {
	margin: 0;
	padding-bottom: 0;
}

#float2 {
	text-align: center;
}

#float2 > input {
}

.noresize {
	resize: none;
}

.well > .well {
	background-color: white;
}


.well > .well {
	padding: 10px;
}

.well p img {
	width: 30px;
}

#listeConversations {
	float: left;
	border: 1px solid black;
	border-radius: 40px 0px 0px 40px;
	padding: 0;
	width: 20%;
	height: 400px;
	overflow: hidden;
}

.previewConversation {
	margin: 0;
	border-bottom: 1px solid black;
	height: 80px;
}

#contenuConversation {
	float: left;
	border: 1px solid black;
	border-radius: 0px 40px 40px 0px;
	padding: 0;
	width: 80%;
	height: 400px;
	overflow: hidden;
}

.listeMessages {
	width: 70%;
	border-right: 1px solid black;
	height: 364px;
}

.listeParticipants {
	width: 30%;
	height: 364px;
}

.conversation {
	width: 100%;
	border-bottom: 1px solid black;
	height: 364px;
	position: relative;
	overflow: hidden;
}

.listeInactive {
	display: none;
}
.convSelected {
	background-color: #ddd;
}

.sendMessage {
	height: 38px;
}
.sendMessage > input {
	float: left;
	width: 70%;
}
.sendMessage > button {
	float: left;
	width: 30%;
}

#newChatForm {
	position: fixed;
	right: 150px;
	top: 118px;
	z-index: 1;
}